---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ site.data.profile.avatar }}">
    <title>Profile</title>

    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0..1,0" />
    <link rel="stylesheet" href="/style.css">
    <script type="module" src="/script.js"></script>
</head>
<body>
    <main>
        <!-- home page -->
        <section id="home" class="page default">
            <h1>👋 Hi there!</h1>

            <div class="m3-card profile-card">
                <div class="profile-avatar">
                    <img src="{{ site.data.profile.avatar }}">
                </div>
                <strong class="profile-nickname">{{ site.data.profile.name }}</strong>
                <p class="profile-subtitle">{{ site.data.profile.role }}</p>
            </div>

            <div class="m3-card">
                <h2>{{ site.data.profile.contacts_title }}</h2>
                <ul>
                    {%- for item in site.data.profile.contacts %}
                    <li>{{ item.platform }}: <a href="{{ item.link }}">{{ item.handle }}</a></li>
                    {%- endfor %}
                </ul>
            </div>

            <div class="m3-card">
                <h2>{{ site.data.profile.support_title }}</h2>
                <ul>
                    {%- for wallet in site.data.profile.wallets %}
                    <li>{{ wallet.type }}: <code>{{ wallet.address }}</code></li>
                    {%- endfor %}
                </ul>
            </div>
        </section>

        <!-- projects page -->
        <section id="projects" class="page">
            <h1>Repositories</h1>
            {% for project in site.data.projects %}
            <div class="m3-card project-card">
                <div class="project-content">
                    <div class="m3-icon {% if project.custom_icon %}custom-icon{% endif %}">
                        <img src="{{ project.icon }}">
                    </div>

                    <div>
                        <strong class="project-name">{{ project.name }}</strong>
                        <p class="project-subtitle">{{ project.subtitle }}</p>
                    </div>
                </div>

                <md-filled-tonal-button href="{{ project.github }}" target="_blank">
                    <md-icon slot="icon" class="github-icon"></md-icon>
                    Open GitHub
                </md-filled-tonal-button>
            </div>
            {% endfor %}
        </section>

        <!-- about page -->
        <section id="about" class="page">
            <h1>About me</h1>
            {% for item in site.data.about %}
            <div class="m3-card about-card">
                <div class="about-content">
                    <div class="m3-icon custom-icon">
                        <span class="material-symbols-rounded">{{ item.icon }}</span>
                    </div>

                    <div>
                        <strong class="about-title">{{ item.title }}</strong>
                        <p class="about-subtitle">{{ item.subtitle }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>

    <!-- navbar -->
    <nav>
        <a data-page="home" class="nav-link active">
            <div class="nav-icon-pill"><span class="material-symbols-rounded">home</span></div>
            <span class="nav-label">Home</span>
        </a>
        <a data-page="projects" class="nav-link">
            <div class="nav-icon-pill"><span class="material-symbols-rounded">terminal</span></div>
            <span class="nav-label">Projects</span>
        </a>
        <a data-page="about" class="nav-link">
            <div class="nav-icon-pill"><span class="material-symbols-rounded">account_circle</span></div>
            <span class="nav-label">About</span>
        </a>
    </nav>

</body>
</html>